<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acazia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feed.FollowingAct">

        </activity>
        <activity android:name=".feed.FeedLocalAct" />
        <activity android:name=".loginSignUp.PasswordChangeActivity" />
        <activity android:name=".loginSignUp.ResetPassNewPassActivity" />
        <activity android:name=".loginSignUp.ResetPassVerifyActivity" />
        <activity android:name=".loginSignUp.ResetPassPhoneActivity" />
        <activity android:name=".loginSignUp.SignInActivity" />
        <activity android:name=".loginSignUp.EnablePushActivity" />
        <activity android:name=".loginSignUp.ConnectContactActivity" />
        <activity android:name=".loginSignUp.EnableFBActivity" />
        <activity android:name=".loginSignUp.ProfileCreatedActivity" />
        <activity android:name=".loginSignUp.CreateProfileActivity" />
        <activity android:name=".loginSignUp.CreateAccountActivity" />
        <activity android:name=".loginSignUp.EnterVerifyCodeActivity" />
        <activity android:name=".loginSignUp.EnterPhoneNumberActivity" />
        <activity android:name=".loginSignUp.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>